/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15.03.2018, 16:05:31
    Author     : Worker
*/
.flex-center-center{
    display:flex;
    justify-content: center;
    align-items:center;
}
.flex-center-none{
    display:flex;
    justify-content: center;
}
header{
    min-height: 20vh;
    background-color: #009999;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
footer{
    min-height: 20vh;
    background-color: #cccccc;
}
body{
    margin:0px 0px 0px 0px;
}
#content{
    min-height: 60vh;
    flex-direction: column;
    justify-content: flex-start;
}
#header-logo{
    font-size: 10vh;
    color:#ffffff;
    display:flex;
    justify-content: flex-end;
}
#login-form{
    margin-top:10vh;
    font-size: 3vh;
    padding:2vh 2vh 2vh 2vh;
    border:2px solid #009999;
    max-height: 30vh;
    width:30vw;
    margin-left: 35vw;
    display:flex;
    flex-direction: column;
}
#user-login-header{
    position:absolute;
    right:10vw;
    font-size:3vh;
    color:#ffffff;
}
#menu{
    max-width: 60vw;
    font-size:1.8vw;
    max-height: 9vh;
    color:#009999;
    margin-left: 2vw;
}
#menu div{
    border:2px solid #009999;
    border-top: 0px;
    margin:0vw 0.5vw 0vw 0.5vw;
    padding: 0.5vw;
    cursor: pointer;
}
#table-menu,#users-menu{
    position: relative;
    width:20vw;
    border-right: 1px solid #009999;
    top:-7.2vh;
}
#table-head,#users-head,#groups-head{
    font-size: 2vw;
    color:#ffffff;
    background-color: #009999;
    height:7vh;
    text-align: center;
}
.table-list-names,.user-list-names,.group-list-names{
    font-size: 1.5vw;
    color:#009999;
    margin-left: 2vw;
    cursor: pointer;
    /*border-bottom: 1px solid black;*/
    min-height: 5vh;
}
#tables-content,#users-content{
    display:flex;
    justify-content: flex-start;
    width: 100%;
}
#user-content-right{
    width:100%;
    padding:2vw;
    display:flex;
    flex-direction: column;
}
#user-settings{
    display:flex;
    flex-direction: row;
    border:2px solid #009999;
    padding:1vw;
    align-items: center;
}
#user-settings table{
    max-width: 30vw;
    border-left:2px solid #009999;
    margin-left:2vw;
    padding-left:2vw;
}
#user-settings img{
    width:20vw;
    height: 20vw;
}
#user-settings table tr td{
    border:none;
}
.table{
    margin-left:1vw;
    margin-top:2vw;
    width:100%;
    margin-right: 2vw;
}
table{
    width:100%;
}
table tr, table td{
    border: 2px solid #009999;
}
table td{
    padding: 3px 3px 3px 3px;
}
.td-changed{
    background-color:#ffffcc;
}
.td-default{
}
.td-enabled{
    background-color:#ccffcc;
}
.td-disabled{
    background-color: #ffcccc;
}

#create-user-form{
    border:2px solid #009999;
    padding:2vw;
    font-size:1.5vw;
}
#create-user-label{
    margin-bottom: 1vh;
    color:#009999;
}
#create-user-name-pass label{
    color:#009999;
    margin-left: 0.5vw;
}
#create-user-settings{
    display:flex;
    flex-direction: column;
    margin-top:3vh;
}
#create-user-settings table tr td{
    border:none;
}
#create-user-settings table{
    max-width: 30%;
}


