/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15.03.2018, 16:05:31
    Author     : Worker
*/
header{
    min-height: 20vh;
    background-color: #009999;
}
footer{
    min-height: 20vh;
    background-color: #cccccc;
}
body{
    margin:0px 0px 0px 0px;
}
#content{
    min-height: 60vh;
}

