<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="App">
    <head>
        <title>GIS NGTU 2.0</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/style.css">
        <script src="js/lib/angular.min.js"></script>
        <script src="js/app.js"></script>
        <script src="js/controllers/appController.js"></script>
        <script src="js/directives.js"></script>
        <script src="js/filters.js"></script>
        <script src="js/factories.js"></script>
    </head>
    <body ng-controller="AppController">
        <header>
            <div id="header-logo">GIS NGTU 2.0</div>
            <div id="user-login-header" ng-show="isuserlog">Вы вошли как: {{user.login}}<button ng-click="logOut()">Выйти</button></div>
        </header>
        <div id="content" class="flex-center-none">
            <login-form ng-show="!isuserlog" ng-hide="user"></login-form>
            <div ng-show="isuserlog" class="flex-center-center" style="flex-direction: column">
                <div id="menu" class="flex-center-none">
                    <div ng-click="changeMenuPage(1)">Просмотр данных</div>
                    <div ng-click="changeMenuPage(2)">Управление пользователями</div>
                    <div ng-click="changeMenuPage(3)">Выполнение запросов</div>
                </div>

                <div id="tables-content" ng-show="openedmenupage==1">
                    <table-menu></table-menu>
                    <table-content></table-content>                   
                </div>
                
                <div id="users-content" ng-show="openedmenupage==2">
                    <users-menu></users-menu>
                    {{tablesettings}}
                </div>
            </div>
        </div>
        <footer></footer>
    </body>
</html>
