<div id="query-menu">
    <div class="query-head">Запросы на поиск:</div>
    <div class="query-list-names" ng-click="openQueryCategory(1)">Аудитории</div>
    <div class="query-list-names" ng-click="openQueryCategory(2)">Сотрудники</div>
    <div class="query-list-names" ng-click="openQueryCategory(3)">Оборудование</div>
    
    <div class="query-head">Запросы на добавление:</div>
    <div class="query-list-names" ng-click="getQueryAddForm('room')">Добавить аудиторию</div>
    <div class="query-list-names" ng-click="getQueryAddForm('sotrudnik')">Добавить сотрудника</div>
    <div class="query-list-names" ng-click="getQueryAddForm('computer')">Добавить компьютер</div>
    <div class="query-list-names" ng-click="getQueryAddForm('oborudovanie')">Добавить оборудование</div>
    <div class="query-list-names" ng-click="getQueryAddForm('kafedra')">Добавить кафедру</div>
    <div class="query-list-names" ng-click="getQueryAddForm('institut')">Добавить институт</div>
    <div class="query-list-names" ng-click="getQueryAddForm('filial')">Добавить филиал</div>
    <div class="query-list-names" ng-click="getQueryAddForm('facultet')">Добавить факультет</div>
    <div class="query-list-names" ng-click="getQueryAddForm('room_type')">Создать тип комнаты</div>
    
</div>
