<div id="query-menu">
    <div class="query-head">Запросы на поиск:</div>
    <div class="query-list-names" ng-click="openQueryCategory(1)">Аудитории</div>
    <div class="query-list-names" ng-click="openQueryCategory(2)">Сотрудники</div>
    <div class="query-list-names" ng-click="openQueryCategory(3)">Оборудование</div>
    
    <div class="query-head">Запросы на добавление:</div>
    <div class="query-list-names" ng-click="getQueryAddForm('room')">Добавить аудиторию</div>
    <div class="query-list-names" ng-click="getQueryAddForm('sotrudnik')">Добавить сотрудника</div>
    <div class="query-list-names">Добавить оборудование</div>
    <div class="query-list-names">Добавить корпус</div>
    <div class="query-list-names">Добавить кафедру</div>
    <div class="query-list-names">Добавить институт</div>
    <div class="query-list-names">Добавить филиал</div>
    <div class="query-list-names">Добавить факультет</div>
    <div class="query-list-names">Создать тип комнаты</div>
    
</div>
