<div id="user-privileges">
    
    <table>
        
        <tr>
            <td></td>
            <td>SELECT</td>
            <td>UPDATE</td>
            <td>INSERT</td>
            <td>DELETE</td>
            
        <tr ng-repeat="ts in tablesettings">
            <td ng-bind="ts.relname"></td>
            <td ng-class="getTdPrivilegesClass(tableprivilegesmodel[$index].select.now,(ts.relacl | relaclUserFind:current_user.rolname:'r'))">
                <select ng-model="tableprivilegesmodel[$index].select.now" ng-options="op.value as op.desc for op in tableprivilegesmodel[$index].select.select">
                </select>
            </td>
            <td ng-class="getTdPrivilegesClass(tableprivilegesmodel[$index].update.now,(ts.relacl | relaclUserFind:current_user.rolname:'w'))">
                <select ng-model="tableprivilegesmodel[$index].update.now" ng-options="op.value as op.desc for op in tableprivilegesmodel[$index].update.select">
                </select>
            </td>
            <td ng-class="getTdPrivilegesClass(tableprivilegesmodel[$index].insert.now,(ts.relacl | relaclUserFind:current_user.rolname:'a'))">
                <select ng-model="tableprivilegesmodel[$index].insert.now" ng-options="op.value as op.desc for op in tableprivilegesmodel[$index].insert.select">
                </select>
            </td>
            <td ng-class="getTdPrivilegesClass(tableprivilegesmodel[$index].delete.now,(ts.relacl | relaclUserFind:current_user.rolname:'d'))">
                <select ng-model="tableprivilegesmodel[$index].delete.now" ng-options="op.value as op.desc for op in tableprivilegesmodel[$index].delete.select">
                </select>
            </td>
        </tr>
        
    </table>
    <button ng-click="updatePrivileges()">Обновить привелегии</button>
    
</div>
